/* inizio classi preliminari */



/* fine classi preliminari */

/* inizio classi generiche */

/* debug, che mi pare non sia presente in bootstrap */

.ms_debug [class^="container"] {
  background-color: orange;
}
.ms_debug [class^="container-"] {
  background-color: yellow;
}
.ms_debug [class^="col-"] {
  min-height: 50px;
  background-color: lightblue;
  border: 1px solid blue;
}
.ms_debug [class^="col-"] [class^="col-"] {
  background-color: lightgreen;
  border: 1px solid green;
}
.ms_debug [class^="col-"] [class^="col-"] [class^="col-"] {
  background-color: lightgrey;
  border: 1px solid grey;
}

/* resettare margin e padding dei titoli, forse dovrei dirgli che vale solo per loro? */

.ms_mt_0 {
  margin-top: 0;
}
.ms_mr_0 {
  margin-right: 0;
}
.ms_mb_0 {
  margin-bottom: 0;
}
.ms_ml_0 {
  margin-left: 0;
}
.ms_pt_0 {
  padding-top: 0;
}
.ms_pr_0 {
  padding-right: 0;
}
.ms_pb_0 {
  padding-bottom: 0;
}
.ms_pl_0 {
  padding-left: 0;
}

.border {
  border-radius: 5px;
}

/* usare classi apposite? */
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

[class^="col-"] > .ms_mt_mb_15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.padding {
  padding: 15px;
}

.ms_full {
  width: 100%;
}

/* fine classi generiche */

/* inizio classi specifiche */

.ms_h_40 {
  height: 40px;
  line-height: 40px;
}

.ms_relative {
  position: relative;
}

.ms_relative > .ms_v_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ms_relative > .ms_r_0 {
  position: absolute;
  right: 0;
}

header #fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
header #jumbo {
  margin-top: 70px;
  height: 300px;
}
header #fixed button {
  background-color: transparent;
}

main img.round {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border-color: white;
  background-color: white;
}
/* fine classi specifiche */
