/* inizio classi preliminari */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fine classi preliminari */

/* inizio classi generiche */

/* debug, che mi pare non sia presente in bootstrap */

.ms_debug [class^="container"] {
  background-color: orange;
}
.ms_debug [class^="container-"] {
  background-color: yellow;
}
.ms_debug [class^="col-"] {
  border: 1px solid blue;
}
.ms_debug [class^="col-"] [class^="col-"] {
  border: 1px solid green;
}
.ms_debug [class^="col-"] [class^="col-"] [class^="col-"] {
  border: 1px solid grey;
}

.ms_wrapped_90 {
  max-width: 90%;
  margin: 0 auto;
}
.ms_wrapped_70 {
  max-width: 70%;
  margin: 0 auto;
}
.ms_wrapped_50 {
  max-width: 50%;
  margin: 0 auto;
}

/* resettare margin e padding dei titoli, forse dovrei dirgli che vale solo per loro e altri specifici elementi? */

.ms_mt_0 {
  margin-top: 0;
}
.ms_mr_0 {
  margin-right: 0;
}
.ms_mb_0 {
  margin-bottom: 0;
}
.ms_ml_0 {
  margin-left: 0;
}
.ms_pt_0 {
  padding-top: 0;
}
.ms_pr_0 {
  padding-right: 0;
}
.ms_pb_0 {
  padding-bottom: 0;
}
.ms_pl_0 {
  padding-left: 0;
}


[class^="col-"] > .ms_mt_mb_15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
[class^="col-"] > .ms_pt_pb_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ms_full {
  width: 100%;
}

.ms_h_40 {
  height: 40px;
  line-height: 40px;
}
.ms_w_40 {
  width: 40px;
}
.ms_w_70 {
  width: 70px;
}
.ms_w_100 {
  width: 100px;
}

.ms_relative {
  position: relative;
}
.ms_relative > .ms_v_center {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.ms_relative > .ms_h_center {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.ms_relative > .ms_v_center.ms_h_center {
  transform: translate(-50%,-50%);
}
.ms_relative > .ms_r_0 {
  position: absolute;
  right: 0;
}
.ms_relative > .ms_l_0 {
  position: absolute;
  left: 0;
}
.ms_relative > .ms_t_0 {
  position: absolute;
  top: 0;
}
.ms_relative > .ms_b_0 {
  position: absolute;
  bottom: 0;
}

.ms_btn_transparent {
  background-color: transparent;
}

hr.ms_hr_bold {
  border: 2px solid;
  transform: translateY(-50%); /* altrimenti si posiziona sotto la prima metà della line-height */
}

.ms_white {
  color: white;
  border-color: white;
}
.ms_grey {
  color: grey;
  border-color: grey;
}

/* usare classi apposite? */
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

/* fine classi generiche */

/* inizio classi specifiche */

header #fixed {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(44 62 80);
}
header #jumbo {
  margin-top: 70px;
  background-color: rgb(26 188 156);
}
header #jumbo img {
  height: 300px;
}
header #jumbo p {
  margin: 15px auto;
}

/* questo lo usiamo solo in questo progetto */
.ms_star_container {
  vertical-align: top;
}

#about {
  background-color: rgb(26 188 156);
}

.form-control.ms_personal {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
}
.form-control.ms_personal::placeholder {
  color: black;
}

.ms_btn_green {
  background-color: rgb(26 188 156);
  color: white;
}
.ms_green {
  color: rgb(26 188 156);
}

footer .ms_full:first-child {
  background-color: rgb(58 84 109);
}
footer .ms_full:last-child {
  background-color: rgb(44 62 80);
}
footer .ms_rounded {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
}

/* fine classi specifiche */
