/* inizio classi preliminari */



/* fine classi preliminari */

/* inizio classi generiche */

/* debug, che mi pare non sia presente in bootstrap */

.debug [class^="container"] {
  background-color: orange;
}
.debug [class^="container-"] {
  background-color: yellow;
}
.debug [class^="col-"] {
  min-height: 50px;
  background-color: lightblue;
  border: 1px solid blue;
}
.debug [class^="col-"] [class^="col-"] {
  background-color: lightgreen;
  border: 1px solid green;
}
.debug [class^="col-"] [class^="col-"] [class^="col-"] {
  background-color: lightgrey;
  border: 1px solid grey;
}

/* resettare margin e padding dei titoli, forse dovrei dirgli che vale solo per loro? */

.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}

.border {
  border-radius: 5px;
}

/* usare classi apposite? */
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

[class^="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* fine classi generiche */

/* inizio classi specifiche */

header #fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
header #fixed + div {
  margin-top: 80px;
  height: 300px;
}
header #fixed [class^="col-"],
header #fixed h3 {
  line-height: 40px;
}
header #fixed button {
  background-color: transparent;
}

main img {
  width: 100%;
  height: auto;
  background-color: white;
}
/* fine classi specifiche */
